body{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
button{
  padding: 10px 20px;
  cursor: pointer;
}

.dark{
  background-color: black;
  color: white;
}